body {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(90deg, rgba(21,132,154,1) 0%, rgba(59,56,113,1) 0%, rgba(87,63,96,1) 100%);
  color:white;
}

.container {
  width: 80%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the container */
}

.section-container {
  text-align: left; /* Align text to the left within the container */
  padding-left: 20px; /* Add padding to the left */
}

img {
  width: 640px;
  height: 360px;
  display: block;
  margin: 0 auto; /* Center the image within the container */
}

h1, h2, h3, h4, p, ul {
  margin: 0; /* Remove default margin for consistency */
  margin-bottom: 40px;
  
}

/* Add padding or margin as needed for spacing */
h4,h3 {
  margin-top: 30px;
  

}
