  img {
    width: 640px;
    height: 360px;
    text-align: center;
    
  }

  h1,h2,video,p,ul,h4,h3{
    text-align: center;
  }

  .container {
    position: relative;
  }
  
  .topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
  }
  