body {
  text-align: center;
}

.container {
  width: 80%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the container */
}

.section-container {
  text-align: left; /* Align text to the left within the container */
}

img {
  width: 640px;
  height: 360px;
  opacity: 0.3;
  display: block;
  margin: 0 auto; /* Center the image within the container */
}

h1, h2, h3, h4, p, ul {
  margin: 0; /* Remove default margin for consistency */
}

/* Add padding or margin as needed for spacing */
h4 {
  margin-top: 20px;
}
